.quizz-creation {
    margin-top: 140px;
}

.basic-information, .questions,
.levels, .success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.quizz-creation .header {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.quizz-creation .information-box {
    width: 600px;
    background: #FAFAFA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 24px 16px 24px 16px;
    gap: 12px;
}

.quizz-creation .section-title {
    font-weight: 700;
    font-size: 20px;
}

.input {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    outline: none;
    border-radius: 5px;
    font-size: 19px;
    padding: 0 24px 0 24px;
    color: #000000;
}

.input::placeholder {
    color: #BABABA;
}

.quizz-creation button {
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    margin: 0 0 85px 0;
    font-size: 21px;
    color: #FFF5F4;;
    border: none;
    cursor: pointer;
}

.quizz-creation .information-box .opened {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quizz-creation .information-box.closed .opened {
    display: none;
}

.quizz-creation .closed {
    flex-direction: row !important;
    justify-content: space-between;
    font-size: 23px;
    cursor: pointer;
}

.quizz-creation .closed .closed-error {
    background: #FFE9E9;
}

.versatile-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quizz-creation ion-icon {
    display: none;
}

.quizz-creation .closed ion-icon {
    display: flex;
}

.quizz-creation .success .home-button {
    color: #818181;
    background: #fafafa;
}

.quizz-creation .success button {
    margin: 0 0 0 0;
    height: 44px;
    width: 220px;
}

.quizz-creation .image-box {
    position: relative;
    margin-bottom: 15px;
}

.quizz-creation .image-box .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 266px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.quizz-creation .image-box img {
    width: 500px;
    height: 266px;
    border-radius: 5px;
}

.quizz-creation .image-box .description {
    position: absolute;
    bottom: 8px;
    left: 15px;
    z-index: 2;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    width: 460px;
    word-wrap: break-word;
}

.quizz-creation .error {
    font-size: 16px;
    color: #EC362D;
    margin-bottom: 8px;
}

.input.error-background {
    background: #FFE9E9;
}

.closed.error-background {
    background: #FFE9E9;
}

@media (max-width: 1100px) {
    .quizz-creation {
        margin-top: 106px;
    }

    .quizz-creation .header {
        font-size: 20px;
    }

    .quizz-creation .information-box {
        width: 100%;
    }

    .versatile-box {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .quizz-creation button {
        width: 324px;
        font-size: 18px;
    }

    .quizz-creation .image-box .description {
        font-size: 19px;
        line-height: 22px;
        width: 300px;
    }
    
    .quizz-creation .image-box img,
    .quizz-creation .image-box .gradient {
        width: 340px;
        height: 181px;
    }
}