.quizz-page {
    height: calc(100vh - 69px);
    margin-top: 69px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.question-container:nth-child(even) .question-box {
    background-color: #434CA0;
}

.question-container:nth-child(odd) .question-box {
    background-color: #A0438D;
}

.banner {
    height: auto;
    width: 100vw;
    background-color: cyan;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.banner .img-background {
    height: 142px;
    width: 100vw;
    object-fit: cover;
}

.banner .description {
    color: #ffffff;
    font-size: 19px;
    line-height: 23px;
    position: absolute;
    width: 309px;
    text-align: center;
    line-height: 23px;
}

.banner .gradient-container {
    position: absolute;
    height: 142px;
    width: 100vw;
    top: 0;
    background-color: black;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.question-container {
    background-color: #ffffff;
    width: 375px;
    padding: 18px;
    margin-bottom: 28px;
}

.question-box {
    min-height: 89px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    font-size: 19px;
    width: 308px;
    font-weight: 700;
    color: #ffffff;
    word-break: break-all;
    text-align: center;
    line-height: 22.5px;
}

.answers-box {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.answer-option {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.answer-option img {
    width: 163px;
    height: 113px;
    object-fit: cover;
}

.legend {
    width: 163px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.5px;
    margin-top: 5px;
    word-break: break-all;
    padding: 2px 0;
}

.question-container.quizz-result .question-box {
    background-color: #EC362D;
}

.question-container.quizz-result 
.answer-option img {
    width: 340px;
}

.question-container.quizz-result 
.answer-option .legend {
    width: 100%;
    font-size: 17px;
    margin-top: 9px;
    line-height: 20px;
}

.quizz-page button {
    width: 220px;
    padding: 11px 0;
    font-size: 18px;
    border: none;
}

.quizz-page .restart-button {
    border-radius: 15px;
    background-color: #EC362D;
    color: #ffffff;
    margin-bottom: 8px;
    margin-top: 10px;
}

.quizz-page .home-button {
    background-color: #FAFAFA;
    color: #818181;
}

@media (min-width: 1100px) {
    .banner .img-background {
        height: 227px;
    }
    .banner .description {
        font-size: 39px;
        width: 1051px;
        line-height: 45px;
    }

    .banner .gradient-container {
        height: 227px;
    }

    .question-container {
        width: 759px;
        padding: 30px 35px;
        margin-bottom: 42px;
    }

    .question-box {
        min-height: 138px;
        padding: 25px 0;
    }
    
    .question {
        font-size: 23px;
        line-height: 27px;
        width: 623px;
    }
    
    .answer-option {
        margin-top: 20px;
    }
    
    .answer-option img {
        width: 330px;
        height: 175px;
    }
    
    .legend {
        width: 330px;
        font-size: 20px;
        line-height: 23.5px;
        margin-top: 9px;
        padding: 4px 0;
    }

    .question-container.quizz-result 
    .question-box {
        width: 691px;
    }

    .question-container.quizz-result
    .answer-option {
        flex-direction: row;
    }

    .question-container.quizz-result
    .answer-option img {
        width: 360px;
    }

    .question-container.quizz-result
    .answer-option .legend {
        width: 328px;
        margin-top: 0;
        padding-left: 21px;
        padding-right: 15px;
    }
    
    .quizz-page button {
        width: 260px;
        padding: 16px 0;
        font-size: 21px;
    }
    
    .quizz-page .restart-button {
        border: none;
        border-radius: 15px;
        background-color: #EC362D;
        color: #ffffff;
        margin-bottom: 16px;
        margin-top: 20px;
    }
}




